__pycache__/
*.py[cod]

.venv/
env/
venv/

node_modules/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

credentials.json
token.json
keys.txt
.env

*.log
*.bak
*.tmp
tempCodeRunnerFile.py
testfile.txt

*.ipynb_checkpoints